In [13]:
import pandas as pd
from sqlalchemy import create_engine

In [14]:
# Hide warning messages in notebook
import warnings
warnings.filterwarnings('ignore')

# Read to Load (Remember to Change These)
west = pd.read_csv("west.csv")
northeast = pd.read_csv("northeast.csv")
southeast = pd.read_csv("southeast.csv")

In [15]:
list(west.columns)

['Region', 'Date', 'PCP', 'TAVG', 'PDSI', 'PHDI', 'TMIN', 'TMAX']

In [16]:
list(northeast.columns)

['Region', 'Date', 'PCP', 'TAVG', 'PDSI', 'PHDI', 'TMIN', 'TMAX']

In [17]:
list(southeast.columns)

['Region', 'Date', 'PCP', 'TAVG', 'PDSI', 'PHDI', 'TMIN', 'TMAX']

In [18]:
# Combine the data into a single dataset

combined_df = pd.concat([west, northeast])
# Display the data table for preview

combined_df.head(10)

  Region     Date   PCP  TAVG  PDSI  PHDI  TMIN  TMAX
0   West  2014-01  0.53  44.8 -6.13 -6.13  31.9  57.6
1   West  2014-02  2.86  45.4 -6.36 -6.36  34.4  56.5
2   West  2014-03  2.35  49.3 -6.46 -6.46  37.0  61.6
3   West  2014-04  0.90  54.1 -6.43 -6.43  40.4  67.8
4   West  2014-05  0.54  61.6 -7.13 -7.13  47.2  76.1
5   West  2014-06  0.08  69.8 -8.10 -8.10  54.1  85.4
6   West  2014-07  0.45  77.4 -8.36 -8.36  62.6  92.2
7   West  2014-08  0.88  72.7 -7.27 -7.27  58.6  86.8
8   West  2014-09  0.91  69.5 -6.22 -6.22  55.1  83.8
9   West  2014-10  0.67  60.7 -6.09 -6.09  46.4  75.0

In [19]:
combined = pd.concat([combined_df, southeast])
combined['Region'].unique()

array(['West', 'Northeast', 'SouthEast'], dtype=object)

In [21]:
combined.to_csv('final.csv', index=False)

In [22]:
engine = create_engine('sqlite:///../db/combined.sqlite', echo=False)