In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("https://www1.ncdc.noaa.gov/pub/orders/CDODiv1795368061698.txt")
df.head(5)

,StateCode,Division,YearMonth,PCP,TAVG,PDSI,PHDI,ZNDX,PMDI,CDD,...,SP01,SP02,SP03,SP06,SP09,SP12,SP24,TMIN,TMAX,Unnamed: 20
0,44,0,201901,3.52,36.3,5.63,5.63,0.49,5.63,0,...,0.35,1.19,1.92,3.09,3.07,3.09,2.10,27.2,45.4,NaN
1,44,0,201902,5.23,41.8,5.93,5.93,2.64,5.93,0,...,1.59,1.34,1.76,3.08,3.09,3.09,2.51,31.9,51.6,NaN
2,44,0,201903,3.31,43.9,5.17,5.17,-0.43,4.96,0,...,-0.23,0.92,0.88,2.03,3.09,3.09,2.44,32.7,55.0,NaN